SQL_SERVER=localhost\SQLEXPRESS
SQL_DATABASE=FinancialMetrics_dev
SQL_DRIVER=ODBC Driver 17 for SQL Server

TICKERS=AAPL, MSFT, NVDA, GOOG, AMZN, META, TSLA
START_DATE=2026-01-01
END_DATE=2026-06-30
SOURCE=YahooFinance