# Python virtual environments
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code workspace settings
.vscode/*
!.vscode/settings.json