# Treat SQL files as source code
*.sql linguist-language=SQL
*.sql linguist-detectable=true

# Treat documentation and Jupyter Notebooks as non-code
README.md linguist-documentation
*.ipynb linguist-documentation